.bg-primary-0 {
  background-color: #000000;
  color: #000000;
}

.bg-primary-100 {
  background-color: #ffffff;
  color: #ffffff;
}

.bg-primary-200 {
  background-color: #d12d26;
  color: #d12d26;
}

.bg-primary-300 {
  background-color: #f5cb45;
  color: #f5cb45;
}

.bg-secondary-0 {
  background-color: #da612b;
}

.bg-secondary-100 {
  background-color: #a0c043;
}

.bg-secondary-200 {
  background-color: #ac8b73;
}

.bg-secondary-300 {
  background-color: #e6e6e6;
}

.color-primary-0 {
  color: #000000;
}

.color-primary-100 {
  color: #ffffff;
}

.color-primary-200 {
  color: #d12d26;
}

.color-primary-300 {
  color: #f5cb45;
}

.color-secondary-0 {
  color: #da612b;
}

.color-secondary-100 {
  color: #a0c043;
}

.color-secondary-200 {
  color: #ac8b73;
}

.color-secondary-300 {
  color: #e6e6e6;
}

footer {
  background-color: white;
  position: relative;
  font-family: sans-serif;
}

#Footer-dankje {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#icon-plaatjes {
  border: gray;
  display: flex;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 15px;
  margin-left: 183px;
  margin-right: 183px;
  justify-content: center;
  align-items: center;
}
#icon-plaatjes img {
  margin-left: 60px;
  height: 60px;
  width: auto;
}

#Footer-nbn {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Footer-nbn #Footer-nieuws {
  border: gray;
  display: flex;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#Footer-nbn #Footer-nieuws img {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: auto;
}
#Footer-nbn #Footer-bezoek {
  border: gray;
  display: flex;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#Footer-nbn #Footer-bezoek img {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: auto;
}
#Footer-nbn #Footer-nl {
  border: gray;
  display: flex;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#Footer-nbn #Footer-nl img {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: auto;
}

#Footer-pc {
  display: flex;
  justify-content: space-between;
}
#Footer-pc #Footer-prive {
  color: gray;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#Footer-pc #Footer-copy {
  color: gray;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  footer {
    background-color: white;
    padding: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  footer p {
    font-size: 10px;
    font-family: sans-serif;
  }

  #Footer-dankje {
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  #icon-plaatjes {
    border: gray;
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 0;
  }
  #icon-plaatjes img {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    width: auto;
  }

  #Footer-bezoek {
    border: gray;
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  #Footer-bezoek img {
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    width: auto;
  }

  #Footer-nl {
    border: gray;
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  #Footer-nl img {
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    width: auto;
  }

  #Footer-prive {
    color: gray;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  #Footer-copy {
    color: gray;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
#witcontact {
  background-color: white;
}

#social h1 {
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
}
#social img {
  margin-left: 120px;
  height: 40px;
  width: auto;
}

#social2 {
  display: none;
}

@media screen and (min-width: 1000px) {
  #wit {
    background-color: white;
  }

  #witcontact {
    display: flex;
    background-color: white;
  }

  #social {
    width: 60%;
  }
  #social h1 {
    font-family: sans-serif;
    font-size: 80px;
    margin: 0px;
    padding: 100px;
  }
  #social img {
    margin-left: 120px;
    height: 40px;
    width: auto;
  }

  #social2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #social2 img {
    max-width: 100%;
    height: auto;
  }
}
h2 {
  display: none;
}

#main-menu img {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  place-items: center;
  height: 50px;
  width: auto;
}

#shop-plaatje {
  background-color: black;
}
#shop-plaatje img {
  height: 80%;
  width: 80%;
  margin-inline-start: auto;
}
#shop-plaatje h3 {
  color: white;
  writing-mode: vertical-lr;
  position: fixed;
  font-size: 110px;
}

#shop-css {
  background-color: white;
  width: 100%;
  height: auto;
  position: relative;
  padding: 40px;
}
#shop-css h1 {
  display: none;
}
#shop-css p {
  display: none;
}
#shop-css ul.products li.product a img {
  height: 400px;
  width: auto;
}
#shop-css ul.products li.product, #shop-css .woocommerce-page ul.products li.product {
  float: none;
  width: 100%;
}

#bezoek-plan {
  padding: 50px;
  position: relative;
  background-color: #ffd000;
}
#bezoek-plan h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: sans-serif;
}
#bezoek-plan h3 {
  font-family: sans-serif;
  font-size: 35px;
}

body {
  background-color: black;
}
body #body-black {
  background-color: black;
}
body #wit {
  background-color: white;
  margin-bottom: auto;
}

.flex {
  border: none;
}

/*# sourceMappingURL=main-theme.css.map */
