#witcontact{
    background-color: white;
}
#social{
    h1{
        font-family: sans-serif;
        font-size: 80px;
        margin: 0px;
        padding: 100px;
    }
    img{
        margin-left: 120px;
        height: 40px;
        width: auto;
    }
    
}
#social2{
    #foto2c{
        img{
            position: right center;
            height: 900px;
            width: auto;
            
        }    
    }

}
