footer{
    background-color: white;
    padding: 100px;

}

#dnk{
    font-family: sans-serif;
}

#plaatjes{
    img{
        height: 40px;
        width: auto;
        margin-left: 50px;
     }
}

#nws{
    font-family: sans-serif;
    img{
        height: 40px;
        width: auto;
        margin-left: 50px;
    }
}

#bzk{
    font-family: sans-serif;
    img{
        height: 40px;
        width: auto;
        margin-left: 50px;
    }
}

#nl{
    font-family: sans-serif;
    img{
        height: 40px;
        width: auto;
        margin-left: 50px;
    }
}

