h2{
display: none;
}
#main-menu{
    img{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        place-items: center;
        height: 50px;
        width: auto;
    }
}

#shop-plaatje{
    background-color: black;
img{
    height: 80%;
    width: 80%;
    margin-inline-start: auto;
}
h3{
    color: white;
    writing-mode: vertical-lr;
    position: fixed;
    font-size: 110px;
}
}
#shop-css{
background-color: white;
width: 100%;
height: auto;
position: relative;
padding: 40px;
    h1{
        display: none;
    }
    p{
        display: none;
    }
ul.products li.product a img{
    height: 400px;
    width: auto;
}
ul.products li.product, .woocommerce-page ul.products li.product{
    float: none;
    width: 100%;
}  
}
#bezoek-plan{
    padding: 50px;
    position: relative;
    background-color: rgb(255, 208, 0);
    h1{
        font-size: 100px;
        font-weight: bold;
        font-family: sans-serif;
    }
    h3{
        font-family: sans-serif;
        font-size: 35px;
    }
}