.home{
        
}
h2{
display: none;
}
#main-menu{
    img{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        place-items: center;
        height: 50px;
        width: auto;
    }
}

#shop-plaatje{
img{
    height: 80%;
    width: 80%;
    margin-inline-start: auto;
}
h3{
    color: white;
    writing-mode: vertical-lr;
    position: fixed;
    font-size: 110px;
}
}
#shop-css{
background-color: white;
position: absolute;
width: 100%;
}