@import "themecolors";
@import "variables";
@import "footer";
@import "contact";
@import "frontenshop";

body{
    background-color: white;
    #body-black{
        background-color: black;
    }
    #wit{
        background-color: white;
        margin-bottom: auto;
    }
    #black{
        background-color: black;
    }  
    }
.flex{
    border: none;
}

